.card-modal-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;

  @media (max-width: $contentModal-width) {
    flex-direction: column;
    padding: 20px;
  }

  @media (max-width: $tablet-width) {
  }

  .card-modal-img {
    width: 66%;
    height: 66%;

    @media (max-width: $contentModal-width) {
      width: 100%;
    }
  }

  .card-modal-info {
    position: relative;
    width: 33.33333333%;
    margin: 10px 10px;
    color: $gray;

    @media (max-width: $contentModal-width) {
      width: 100%;
    }
  }

  .info-title {
    font-size: 2.1875rem;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: $gray;
  }

  .info-title::first-letter {
    text-transform: uppercase;
  }

  .info-subtitle {
    margin-top: 10px;
    @media (max-width: $content-width) {
      margin-top: 10px;
    }
    @media (max-width: $tablet-width) {
      margin-top: 5px;
      font-size: 1.25rem;
      line-height: 115%;
    }
  }

  .info-paragraph {
    margin-top: 10px;
    line-height: 115%;
    @media (max-width: $content-width) {
      margin-top: 20px;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 115%;
    }
    @media (max-width: $tablet-width) {
      margin-top: 10px;
      text-align: justify;
    }
  }

  .info-list {
    margin-top: 10px;
    li {
      color: $color-primary;
    }
    li h5 {
      font-weight: 800;
      margin-top: 10px;
      color: $gray;
      span {
        font-weight: 400;
      }
    }
    @media (max-width: $content-width) {
      margin-top: 20px;
      margin-left: 15px;
      li h5 {
        margin-top: 5px;
      }
    }
    @media (max-width: $tablet-width) {
      margin-top: 10px;
      text-align: start;
      li h5 {
        margin-top: 5px;
      }
    }
  }
}
