.interest {
  background-color: transparent;
  margin: 0 20px;
  padding: 30px 0;
  padding-top: 80px;

  &__name {
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: $light-gray;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 550;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__card {
    padding: 30px 20px 20px 20px;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow 0.25s;
    border-radius: 2px;
    box-shadow: $card-shadow;
  }

  &_subtitle {
    width: 100%;
    height: auto;
    padding: 0 80px;
    margin: 20px 0;
    text-align: center;
    color: $light-gray;
    font-weight: 300;

    @media (max-width: $tablet-width) {
      padding: 0 5px;
      text-align: justify;
    }
  }

  .list-inline {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    min-height: 1px;
    list-style: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;

    @media (max-width: $tablet-width) {
      justify-content: center;
      li {
        width: 80px;
      }
    }
  }
  .interest-topic {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    color: $light-gray;
  }
}
